<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>java_web5_jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <!--  
  <error-page> 우선순위 1등
   <error-code>500</error-code>
   <location>/error1.jsp</location>
  </error-page>
  <error-page>
   <error-code>404</error-code>
   <location>/error2.jsp</location>
  </error-page>
  
  <error-page> 우선순위 2등   페이지 지서에 쓴게 우선순위 3등으로 볼 수 있음
  	<exception-type>java.io.FileNotFoundException</exception-type>
  	<location>/error3.jsp</location>
  </error-page>
  -->
</web-app>